<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>EndlessTower Game</title>
    <link rel="shortcut icon" href="./image/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.main.css %>">-->
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="../src/components/modal-dialog/modal.css">
    <link rel="stylesheet" href="../src/components/loading-screen/loading-screen.css">
    <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>

    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyAcOg61Eojv8hXz5wyc-IyaT-tr0lPEnBc",
            authDomain: "endless-tower-game.firebaseapp.com",
            databaseURL: "https://endless-tower-game.firebaseio.com",
            projectId: "endless-tower-game",
            storageBucket: "endless-tower-game.appspot.com",
            messagingSenderId: "839853063409"
        };
        firebase.initializeApp(config);
        var database = firebase.database();

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>" defer></script>
</head>

<body>
    <header>
        <div class="logo">
            <img src="./image/logo.png" alt="logo">
            <h3>endlessTower</h3>
            <p>the game</p>
        </div>
        <nav>
            <ul>
                <li>
                    <button name="leaderboard" id="leaderboard-btn">TOP</button>
                </li>
            </ul>
        </nav>
    </header>
    <section class="main" id="main">
        <article class="landing" id="landingPg">
            <article class="title">
                <h1>endless tower</h1>
                <h3>the game</h3>
            </article>
            <button name="play" id="play-btn">let's play</button>
            <img class="leftImg" src="./image/gameplay_screenshot.png" alt="">
            <img class="rightImg" src="./image/gameplay_screenshot2.png" alt="">
            <article class="landingInfo">
                <div class="Vladimir">
                    <p>apenko vladimir:</p>
                    <p>landing page</p>
                    <p>цикл игры: loop.js</p>
                    <p>загрузчик: resources.js</p>
                    <p>класс Sprite: sprite.js</p>
                    <p>рендер: draw.js</p>
                    <p>обновление состояния игры: update.js</p>
                    <p>анимация смены уровней: levelTitle.js</p>
                    <p>задачи:</p>
                    <p>перевод: translateTask.js</p>
                    <p>аудирование: listeningTask.js</p>
                    <p>задача с углами треугольника: triangleTask.js</p>
                    <p>даты из истории: historyTask.js</p>
                    <p>перевод систем счисления: notationTask.js</p>
                </div>
                <div class="Timur">
                    <p>timur samoylov:</p>
                    <p>index.js</p>
                    <p>экран дуэли: duel.js</p>
                    <p>класс Monster: monster.js</p>
                    <p>класс Player: player.js</p>
                    <p>работа с firebase и leaderboard</p>
                    <p>задачи:</p>
                    <p>арифметика: arithmeticTask.js</p>
                    <p>dragNdrop задача: dragndropTask.js</p>
                    <p>идиомы: idiomTask.js</p>
                    <p>цвета: colorTask.js</p>
                    <p>животные: animalTask.js</p>
                </div>
            </article>
        </article>
        <canvas id="canvas"></canvas>
    </section>
    <footer>
        <div class="info">
            <p>Game by:</p>
            <p>Vladimir Apenko and Timur Samoylov</p>
            <p>for Rolling Scopes School</p>
        </div>
    </footer>
    </div>
</body>

</html>
