<div class="modal" id="modal-dialog">
    <div class="description" style="display: none;"></div>
    <div class="spellchoise" style="display: none;">
        <button class="select-firebolt">1</button>
        <button class="select-iceball">2</button>
        <button class="select-thunderbolt">3</button>
    </div>
    <div class="task" style="display: none;"></div>
    <ul id="sortable" style="display: none;">
    </ul>
    <button id="playB" class="playButton" style="display: none;">></button>
    <div class="buttonHolder" style="display: none;">
        <button></button>
        <button></button>
        <button></button>
        <button></button>
    </div>
    <svg style="display: none;"></svg>
    <input type="text" id="input" tabindex="0" style="display: none;">
    <button id="submitB" class="submitButton" style="display: none;">Submit</button>
</div>
