.modal {
    background: rgba(45, 57, 69, 0.71);
    position: fixed;
    left: 0;
    right: 0;
    top: 80px;
    bottom: 0;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /*animation: show 1s ease-in-out forwards;*/
    z-index: 2;
}

.spell-choice {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 50%;
    margin: 30px;
}

.select-firebolt,
.select-iceball,
.select-thunderbolt {
    font-size: 47px;
    color: black;
    height: 100px;
    width: 100px;
    /*background: red;*/
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
}

.select-firebolt {
    background-image: url('../../image/firebolt-button.png');
    background-size: contain;
}

.select-iceball {
    background-image: url('../../image/icebolt-button.png');
    background-size: contain;
}

.select-thunderbolt {
    background-image: url('../../image/thunderbolt-button.png');
    background-size: contain;
}

button:focus {
    border: 3px solid red;
}

.modal h2 {
    color: white;
    padding: 0;
    margin: 0;
    font-family: "Audiowide";
    font-size: 34px;
    line-height: 130%;
    text-transform: capitalize;
    margin: 30px;
}

.ui-sortable {
    width: 80%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
    padding: 0;
}

.dragndrop-char {
    height: 30px;
    width: 30px;
}

.ui-sortable-handle {
    cursor: pointer;
    color: white;
    display: inherit;
    align-items: center;
    justify-content: center;
    list-style: none;
    border-radius: 6px;
    border: 1px solid white;
}

/*.task {
    width: 30%;
    height: 30%;
}*/

.task {
    width: 35%;
    height: 50%;
    background-size: 100% 100%;
    margin: 30px;
    border-radius: 4%;
}

/* exercize style */

.exercise {
    height: 60%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: #2d3945;
    border: 1px solid white;
    border-radius: 20px;
    animation: show 1s ease-in-out forwards;
    margin: 30px;
}

.hide {
    animation: hidden 1s ease-in-out forwards;
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;

    }
}

@keyframes hidden {
    from {
        opacity: 100;
    }
    to {
        opacity: 0;
        display: none;
    }
}

.description {
    width: 100%;
    height: 20%;
    min-height: 120px;
    text-align: center;
    font-family: 'OrbitronMedium';
    font-size: 14px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 50px;

}

.modal p {
    margin: 0 auto;
    text-align: center;
    font-family: 'OrbitronMedium';
    font-size: 40px;
    color: white;
    text-transform: capitalize;
    text-decoration: underline;
    margin: 30px;
}

svg {
    height: 95px;
    width: 200px;
    background: white;
    border-radius: 10px;
    margin: 10px;
}

.buttonHolder {
    width: 50%;
    height: 30%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    margin: 30px;
}

.buttonHolder button {
    max-height: 70px;
    max-width: 120px;
}

.playButton {
    height: 100px;
    width: 100px;
    font-family: 'Audiowide';
    font-size: 70px;
    background: white;
    border: 1px solid black;
    border-radius: 50%;
    margin: 20px;
}

.exercise input {
    height: 30px;
    width: 250px;
    border: 0px;
    border-radius: 5px;
    margin: 30px;
}

.submitButton {
    height: 30px;
    width: 90px;
    font-family: 'OrbitronMedium';
    font-size: 14px;
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    margin: 30px;
}
